altgraph==0.17.5
anyio==4.12.0
beautifulsoup4==4.14.3
certifi==2025.11.12
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
macholib==1.16.4
packaging==25.0
pillow==12.0.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyside6==6.10.1
pyside6-addons==6.10.1
pyside6-essentials==6.10.1
setuptools==80.9.0
shiboken6==6.10.1
soupsieve==2.8
typing-extensions==4.15.0
